.feedback-mat-card {
    height: 100%;
    .feedback-top-container{
        display: flex;
        justify-content: space-between;
        .user-details-container {
            display: flex;  
            align-items: center;
            i {
                margin-right: 10px;
            }
            h5 {
                margin: 0;
            }
        }
        .date-of-feedback-container {
    
        }
    }
}
