.feedback-mat-card {
  height: 100%;
  .feedback-top-container {
    display: flex;
    justify-content: space-between;
    .user-details-container {
      display: flex;
      align-items: center;
      i {
        margin-right: 10px;
      }
      h5 {
        margin: 0;
      }
    }
  }
}

.star-ratings-css {
  color: #c5c5c5;
  font-size: 25px;
  height: 25px;
  width: 105px;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
