<mat-card class="feedback-mat-card">
    <div class="feedback-top-container">
        <div class="user-details-container">
            <i class="fa fa-user-circle"></i>
            <h5>{{feedback.name}}</h5>
        </div>
        <div class="date-of-feedback-container">
            <h6>{{feedback.date}}</h6>
        </div>
    </div>
    <div>
      <mat-slider max="5" min="1"  thumbLabel tickInterval="1" (change)="updateSetting($event)"></mat-slider>
      <!-- <star-rating value="5" totalstars="5" checkedcolor="#7b84fc" size="15px" uncheckedcolor="black" readonly="true" ></star-rating> -->
    </div>
    <!-- <star-rating-comp [starType]="'svg'" [rating]="2.63"></star-rating-comp> -->
    <div class="feedback-description">
        <p>
            {{feedback.description}}
        </p>
    </div>
</mat-card>

