<div class="outer">
    <div [ngClass]="{'is-side-panel-expanded': isSidePanelExpanded}">
        <mat-card>
            <h2>Transactions:</h2>
            <div class="top-container">
              <div class="task-container">
                <p>{{taskRemaining}} out of {{taskTotal}}</p>
              </div>
              <div class="filter-container">
                <div class="filter">
                  <div>
                    <mat-form-field>
                      <mat-label>Retailer</mat-label>
                      <mat-select [(ngModel)]="searchRetail">
                        <mat-option *ngFor="let retailer of retailers" [value]="retailer.viewValue">
                          {{retailer.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <mat-form-field>
                    <mat-label>Status</mat-label>
                    <mat-select [(ngModel)]="searchStatus">
                      <mat-option *ngFor="let item of status" [value]="item.viewValue">
                        {{item.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field>
                      <mat-label>Pick a date</mat-label>
                      <input matInput [matDatepicker]="picker" (dateInput)="addEvent('input',$event)" (dateChange)="addEvent('input',$event)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
              </div>
              <mat-divider></mat-divider>
            </div>
            <div class="date">
                <p><strong>{{today | date: 'fullDate'}}</strong> </p>
            </div>
            <div class="daysOfTheWeek">
                <div class="day">
                <div *ngFor="let item of daysOfTheWeek">
                    <div class="dayName"><p>{{item}}</p></div>
                    <div class="dateNumber"><p>{{dateNumber}}</p></div>
                </div>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="transaction-container" *ngFor="let item of allTransactions| filter:searchRetail|filter:searchStatus|filter:searchDate">
                  <mat-card>
                    <div class="content">
                      <h5>{{ item.Consumer.Name }}</h5>
                      <p class="event">₹{{ item.OrderDetails.TotalPrice }}</p>
                    </div>
                    <p>Order date : {{ item.OrderDetails.OrderDate }} </p>
                    <div class="lastLine">
                      <p>Vendor name : {{ item.Retailer.Name }}</p>
                      <p class="status" [ngClass]='setStatusColor(item.Status)'>{{ item.Status }}</p>
                    </div>
                  </mat-card>
            </div>
          </mat-card>
    </div>
</div>
  