<div class="outer">
  <div [ngClass]="{ 'is-side-panel-expanded': isSidePanelExpanded }">
    <mat-card>
      <h2>Transactions:</h2>
      <div class="top-container">
        <div class="task-container">
          <p>{{ taskRemaining }} out of {{ taskTotal }}</p>
        </div>
        <div class="filter-container">
          <div class="filter">
            <form class="example-form">
              <mat-form-field class="searchRetail">
                <input type="text" [(ngModel)]="searchRetail"
                       placeholder="Retailer"
                       aria-label="Number"
                       matInput
                       [formControl]="myControl"
                       [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" >
                  <mat-option *ngFor="let retailer of filteredOptions | async" [value]="retailer">
                    {{retailer}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
              <mat-form-field class="searchStatus">
                <input type="text" [(ngModel)]="searchStatus"
                       placeholder="Status"
                       aria-label="Number"
                       matInput
                       [formControl]="statusControl"
                       [matAutocomplete]="auto2">
                        <mat-autocomplete #auto2="matAutocomplete" >
                    <mat-option *ngFor="let status of statusFilteredOptions | async" [value]="status">
                      {{status}}
                    </mat-option>
                  </mat-autocomplete>
              </mat-form-field>
            </form>
          </div>
            <mat-form-field>
              <mat-label>Pick a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                (dateInput)="addEvent('input', $event)"
                (dateChange)="addEvent('input', $event)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <button mat-raised-button (click)="this.myControl.reset()">RESET</button>
        </div>
      <div class="date">
        <p>
          <strong>{{ today | date: "fullDate" }}</strong>
        </p>
      </div>
      <div
        class="search-results"
        infiniteScroll
        [infiniteScrollDistance]="5"
        [infiniteScrollThrottle]="300"
        (scrolled)="onScroll()"
        [scrollWindow]="false"
      >
        <div
          class="transaction-container"
          *ngFor="
            let item of allTransaction
              | filter: searchRetail
              | filter: searchStatus
              | filter: searchDate
          "
        >
          <mat-card>
            <div class="content">
              <h5>{{ item.customer_name }}</h5>
              <p class="event">₹{{ item.price }}</p>
            </div>
            <p>Order date : {{ item.order_date }}</p>
            <div class="lastLine">
              <p>Vendor name : {{ item.vendor_name }}</p>
              <p class="status" [ngClass]="setStatusColor(item.status)">
                {{ item.status }}
              </p>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </div>
</div>
