<mat-toolbar color="primary">
    <div class="head-main">
        <div>
            <h2>KIRANA</h2>
        </div>
        <div class="logout-btn-container">
            <a class="cursorPointer" [matMenuTriggerFor]="menu"><i class="fa fa-cog" aria-hidden="true"></i></a>
          <mat-menu #menu="matMenu">
            <button (click)="ResetPass()"mat-menu-item>
              <mat-icon>done</mat-icon>
              <span>Reset Password</span>
            </button>
            <button mat-menu-item>
              <mat-icon>more_horiz</mat-icon>
              <span>Notification</span>
            </button>
          </mat-menu>
            <a class="cursorPointer" id="feedback" (click)="feedbacks()"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
            <a class="cursorPointer" id="logout" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
    </div>
</mat-toolbar>

