<mat-toolbar color="primary">
    <div class="head-main">
        <div>
            <h2>KIRANA</h2>
        </div>
        <div class="logout-btn-container">
          <a class="cursorPointer" (click)="notifications()"  matTooltip="Notifications"><i class="fa fa-bell"></i></a>
          <a class="cursorPointer" [matMenuTriggerFor]="menu" matTooltip="Settings"><i class="fa fa-cog" aria-hidden="true"></i></a>
          <mat-menu #menu="matMenu">
            <button (click)="ResetPass()"mat-menu-item>
              <i class="fa fa-key"></i>
              <span>Reset Password</span>
            </button>
            <button (click)="NotifySetting()" mat-menu-item>
              <i class="fa fa-envelope"></i>
              <span>Notifications</span>
            </button>
          </mat-menu>
            <a class="cursorPointer" id="feedback" (click)="feedbacks()" matTooltip="Feedback"><i class="fa fa-comments-o" aria-hidden="true"></i></a>
            <a class="cursorPointer" id="logout" (click)="logout()" matTooltip="Logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
        </div>
    </div>
</mat-toolbar>

