.mat-toolbar{
    background-color: #7b84fc;
    color: #333344;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.5);
    .head-main {
        width: 100%;
        display:  flex;
        justify-content: space-between;
        .logout-btn-container {
            width: 80px;
            display: flex;
            justify-content: space-between;
            margin-right: 70px;
        }
    }
}
#logout{
  margin-right: 20px;
}
#feedback {
  padding-right: 20px;
}
span{
  margin-left: 1rem;
}
.container{
  display: flexbox;
  margin-top: 50px;
  margin-left: 50px;
}
.example-h2 {
  margin: 10px;
  padding-bottom: 1rem;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
  position: absolute;
  right: 150px;
}
.toggle{
  padding-bottom: 50px;

}
.fa-bell {
  padding-right: 20px;
}
.fa-cog {
  padding-right: 20px;
}
