.container{
  display: flexbox;
  margin-top: 50px;
  margin-left: 50px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  position: relative;
}
.toggle{
  position: absolute;
  right: 10px;
  top: 5px;

}
#hov:hover{
  background-color: #0074d9;
}
#hov {
  margin-left: 330px;
  margin-top: 2em;
  background-color: rgb(245, 242, 239);
}
