.container{
  display: flexbox;
  margin-top: 50px;
  margin-left: 50px;
}
.example-h2 {
  margin: 10px;
  padding-bottom: 1rem;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
  position: absolute;
  right: 150px;
}
.toggle{
  padding-bottom: 50px;

}
