<div class="invite-request-container">
  <div class="info">
    <h6><b>{{inviteRequest.name}}</b></h6>
    <h6>{{inviteRequest.email}}</h6>
  </div>
  <div class="more-option">
    <button
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="approveInviteRequest()">
        <mat-icon>done</mat-icon>
        <span>Accept invite</span>
      </button>
      <button mat-menu-item (click)="rejectInviteRequest()">
        <mat-icon>clear</mat-icon>
        <span>Reject invite</span>
      </button>
      <button mat-menu-item (click)="openDialog()">
        <mat-icon>more_horiz</mat-icon>
        <span>More details</span>
      </button>
    </mat-menu>
  </div>
</div>
