<div class="outer">
    <mat-card [ngClass]="{'is-side-panel-expanded': isSidePanelExpanded}">
        <h2>Items:</h2>
        <div class="items-top-search-container">
            <app-add-items [productData]="productData"></app-add-items>
            <div class="input">
                <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Start searching for item by name ">
            </div>
        </div>
        <div class="item-cards" *ngFor="let item of allProducts |filter:searchText">
            <mat-card class="inner-item-mat-card">
                <app-item-card [item]="item"></app-item-card>
            </mat-card>
        </div>
    </mat-card>
</div>
