mat-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    min-width: 100px;
    width: 200px;
    max-width: 300px;
}