<h1 mat-dialog-title>Add new Item</h1>
<div mat-dialog-content>
  <form class="example-form" [formGroup]="itemForm" (ngSubmit)="addItem()">
    <div class="name-container">
      <div class="">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" placeholder="Enter Name" />
          <mat-error> Name is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="category-container">
      <mat-form-field *ngIf="!isAddCategory">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let c of data.categories" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
        <mat-error> Category is <strong>required</strong> </mat-error>
      </mat-form-field>
      <div class="add-category-container" *ngIf="isAddCategory">
        <mat-form-field class="example-full-width">
          <mat-label>New Category</mat-label>
          <input
            matInput
            formControlName="category"
            placeholder="Enter new Category"
          />
          <mat-error> Category is <strong>required</strong> </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="addCategory()">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >{{isAddCategory == true ? 'remove':'add'}}</mat-icon
        >
      </button>
    </div>
    <div class="subcategory-container">
      <mat-form-field *ngIf="!isAddSubCategory">
        <mat-label>Sub-category</mat-label>
        <mat-select formControlName="sub_category">
          <mat-option
            *ngFor="let sub of data.sub_categories[itemForm.controls.category.value]"
            [value]="sub"
          >
            {{sub}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="itemForm.controls.sub_category.errors">
          Sub-category is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="add-sub-category-container" *ngIf="isAddSubCategory">
        <mat-form-field class="example-full-width">
          <mat-label>New Sub-category</mat-label>
          <input
            matInput
            placeholder="Enter new Sub-category"
            formControlName="sub_category"
          />
          <mat-error *ngIf="itemForm.controls.sub_category.errors">
            Sub-category is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="addSubCategory()">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >{{isAddSubCategory == true ? 'remove':'add'}}</mat-icon
        >
      </button>
    </div>
    <div class="brand-container">
      <mat-form-field *ngIf="!isAddBrand">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand">
          <mat-option
            *ngFor="let brand of data.brands[itemForm.controls.sub_category.value]"
            [value]="brand"
          >
            {{brand}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="itemForm.controls.brand.errors">
          Brand is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <div class="add-brand-container" *ngIf="isAddBrand">
        <mat-form-field class="example-full-width">
          <mat-label>New Brand</mat-label>
          <input
            matInput
            placeholder="Enter new Brand"
            formControlName="brand"
          />
          <mat-error *ngIf="itemForm.controls.brand.errors">
            Brand is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-raised-button (click)="addBrand()">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >{{isAddBrand == true ? 'remove':'add'}}</mat-icon
        >
      </button>
    </div>
    <div class="quantity-container">
      <mat-form-field>
        <mat-label>Quantity Type</mat-label>
        <mat-select formControlName="quantity_type">
          <mat-option
            *ngFor="let quantity of quantity_types"
            [value]="quantity"
          >
            {{quantity}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="variant-container row" formArrayName="variant_details">
      <div class="row col-12 justify-content-center">
        <p class="col-6">Variants</p>
        <div class="col-6">
          <button mat-raised-button (click)="addVariant()">
            <mat-icon aria-hidden="false" aria-label="Example home icon">
              add
            </mat-icon>
          </button>
        </div>
      </div>
      <div class="row col-12">
        <div
          class="col-12"
          *ngFor="let v of allVariants.controls; let i = index"
        >
          <table
            class="example-full-width col-12"
            cellspacing="0"
            [formGroupName]="i"
          >
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Variants</mat-label>
                  <input
                    matInput
                    formControlName="variant"
                    placeholder="Enter Variant"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Quantity</mat-label>
                  <input
                    matInput
                    formControlName="quantity"
                    placeholder="Enter Quantity"
                  />
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width">
                  <mat-label>Price</mat-label>
                  <input
                    matInput
                    formControlName="price"
                    placeholder="Enter Price"
                  />
                </mat-form-field>
              </td>
              <td>
                <button
                  mat-icon-button
                  color="primary"
                  aria-label="Example icon-button with delete icon"
                  (click)="removeVariant(i)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="description-container">
      <mat-form-field class="example-full-width">
        <mat-label>Details</mat-label>
        <textarea
          formControlName="details"
          matInput
          placeholder="Description of Item"
        ></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="itemForm.value"
    [disabled]="!itemForm.valid"
  >
    Add
  </button>
</div>
