.outer{
    margin-left: 10%;
    width: 100%;
    .mat-card{
        margin-top: 50px;
        margin-right: 25px;
        display: flex;
        .tasks{
            display: flex;
            flex-direction: row;
        }

    }
}