<div class="outer">
  <mat-card [ngClass]="{'is-side-panel-expanded': isSidePanelExpanded}">
    <div class="top-container">
      <div class="task-container">
        <p>{{taskRemaining}} out of {{taskTotal}}</p>
      </div>

      <div class="filter-container">
        <div class="filter" *ngFor="let item of filters">
          <mat-form-field>
            <mat-label class="first">{{item}}</mat-label>
            <mat-select>
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{food.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
      </div>
      
      <mat-divider></mat-divider>

    </div>
    <div class="date">
        <p><strong>{{today | date: 'fullDate'}}</strong> </p>
    </div>
    <div class="daysOfTheWeek">
        <div class="day">
        <div *ngFor="let item of daysOfTheWeek">
            <div class="dayName"><p>{{item}}</p></div>
            <div class="dateNumber"><p>{{dateNumber}}</p></div>
        </div>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div *ngFor="let item of daysOfTheWeek">
      <mat-card>
        <div class="content">
          <h5>Content</h5>
          <p class="event">Event Indicator</p>
        </div>
        <p>Due date : </p>
        <div class="lastLine">
          <p>Vendor name</p>
          <p class="status">Status</p>
        </div>
      </mat-card>
    </div>
    
  </mat-card>
</div>
