.outer{
    
    .mat-card{
        margin-top: 50px;
        margin-right: 25px; 
        margin-left: 10%;
        display: flex;
        
        .tasks{
            display: flex;
            flex-direction: row;
        }

    }
}