.item-card {
    display: flex;
    .item-image-container {
        width: 30%;
        img {
            width: 100%;
        }
    }
    .item-details-container {
        width: 70%;
        margin: 5px 20px;
        .item-top-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .item-top-left {
                .item-name {

                }
                .item-unit {

                }
            }
            .item-price {
                align-self: auto;
                cursor: pointer;
            }
        }
        .item-detail-container {
            .item-description-container {

            }
            .item-variety {
                ul {
                    list-style-position: inside;
                }
            }
        }
    }
}
#edit{
  position: absolute;
  right: 2rem;
  align-self: auto;
  justify-content: space-between;
  cursor: pointer;
  font-size: 1.5em;
}
span h4{
  display: inline-block;
  margin:10px 10px 0 0;
  padding:5px 10px;
}
.sp {
  display: inline-block;
  margin:10px 10px 0 0;
  padding:5px 0px 5px 50px;
}
