<div class="item-card">
    <div class="item-image-container">
        <img src="../../../assets/item.svg" alt="Item picture">
    </div>
    <div class="item-details-container">
        <div class="item-top-container">
            <div class="item-top-left">
                <div class="item-name">
                    <h4>{{ item.name }}</h4>
                </div>
                <div class="item-unit">
                    <h6><b>{{ item.unit }}</b></h6>
                </div>
            </div>
            <div class="item-price">
                <h6><b>{{ item.price }}</b></h6>
            </div>
        </div>
        <div class="item-detail-container">
            <div class="item-description-container">
                <p class="item-description">{{ item.description }}</p>
            </div>
            <div class="item-variety">
                <h5>Variety:</h5>
                <ul>
                    <li *ngFor="let variety of item.variety">{{ variety }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>